# Generate here: https://better-auth.com/docs/installation#set-environment-variables
BETTER_AUTH_SECRET=

# Must be postgress, schema: postgresql://<username>:<password>@<host>/<database>
DATABASE_URL=

# Get it from resend.com
RESEND_API_KEY=